In [1]:

import numpy as np
import pandas as pd

In [2]:
# with open("/home/u131168/mh_one_api/data/sub_flant5_pred.csv",'r') as f:
#     file_content = f.read().split('\n')
#     print(file_content[31].replace(',','$$',1))
#     for i in range(len(file_content)):
#         file_content[i]=file_content[i].replace(',','$$',1)

#     print(file_content)
#     f.seek(0)
#     # Set file’s current position to the beginning

#     f.writelines(file_content)
#     # my_file.seek(0)

In [3]:
# print(file_content)

In [4]:
# pred_path="/home/u131168/mh_one_api/data/flant5_pred/full_pred.csv"
pred_path="/home/u131168/mh_one_api/data/custom_pred/full_pred2.csv"

# pred_path="/home/u131168/mh_one_api/data/flant5_pred/0_10k.csv"

formatted_sub_path="/home/u131168/mh_one_api/data/intel_sub_custom2.csv"

pred_data=pd.read_csv(pred_path,sep="\$\$", header=None)
pred_data.columns=['index','answer']
# pred_data=pred_data.iloc[6000:7000]
pred_data.fillna("unknown", inplace = True)
# unknown="_."  , 
pred_data.isna().sum()
pred_data=pred_data.drop_duplicates()

# pred_data[pred_data.isna().any(axis=1)]

/tmp/ipykernel_90732/839257335.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pred_data=pd.read_csv(pred_path,sep="\$\$", header=None)

In [5]:
temListPre=[0 for i in range(0,pred_data.iloc[0,0]-1)]
res=pred_data['answer'].tolist()
temListPost=[0 for i in range(28548-(len(res)+len(temListPre)))]
submission_data=pd.Series(temListPre+res+temListPost,name="Answer")
submission_data=pd.DataFrame(submission_data)
submission_data['Answer']=submission_data['Answer'].apply(lambda x: str(x).strip(' ').strip("\""))
# submission_data['Answer']=submission_data['Answer'].apply(lambda x: str(x).strip(' ').strip("\""))
# submission_data['Answer']=submission_data['Answer'].apply(lambda x: str(x).strip(' ').strip("\""))
# submission_data['Answer']=submission_data['Answer'].apply(lambda x: str(x).strip(' ').strip("\""))
# submission_data['Answer']=submission_data['Answer'].apply(lambda x: str(x).strip(' ').strip("\""))
# 
# submission_data['Answer']=submission_data['Answer'].apply(lambda x: str(x).strip(' ').strip("_"))



submission_data.isna().sum()

Answer    0
dtype: int64

In [6]:
# submission_data.dtypes
# submission_data['Answer']=submission_data['Answer'].astype("category")
# submission_data.dtypes
# submission_data.iloc[30:33]

In [7]:
# unknown="_."  , " " 

# # removing possible float values
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '.' in str(x)  else x)
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if any(chr.isdigit() for chr in str(x))  else x)
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : str(x).replace('–',-) if '–' in str(x)  else x)
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '‘' in str(x)  else x)
submission_data['Answer']=submission_data['Answer'].apply(lambda x : str(x).replace('«','') if '«' in str(x)  else str(x))
submission_data['Answer']=submission_data['Answer'].apply(lambda x : 'unknown' if len(str(x))==0 or str(x)==' '  else str(x))
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 'unknown' if len(str(x))==0 or str(x)=='_.'  else str(x))


# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '-' in str(x)  else x)


# submission_data['Answer']=submission_data['Answer'].astype("category")
submission_data.dtypes
# submission_data.isna().sum()

Answer    object
dtype: object

In [8]:
import csv
submission_data.to_csv(formatted_sub_path,index=False,quoting=csv.QUOTE_ALL)

# submission_data.to_csv(formatted_sub_path,index=False)
# submission_data.iloc[520:524]
submission_data

                                  Answer
0                                Anxious
1                      25 million people
2                                     20
3              An unexpected resignation
4      she seldom have to wait for long.
...                                  ...
28543                  Andres de Cabrera
28544                     Lawrence Croft
28545                                yes
28546                        Mr. Seely's
28547                             lizard

[28548 rows x 1 columns]

In [9]:
# submission_data[:50]
rsub=pd.read_csv(formatted_sub_path)
rsub[rsub['Answer']=='']
rsub.fillna('unknown',inplace=True)

rsub.isna().sum()
rsub[rsub.isna().any(axis=1)]
rsub.to_csv(formatted_sub_path,index=False)
rsub

                                  Answer
0                                Anxious
1                      25 million people
2                                     20
3              An unexpected resignation
4      she seldom have to wait for long.
...                                  ...
28543                  Andres de Cabrera
28544                     Lawrence Croft
28545                                yes
28546                        Mr. Seely's
28547                             lizard

[28548 rows x 1 columns]