In [1]:
# !pip install pandas
import numpy as np
import pandas as pd

In [2]:


train_path="/home/u131168/mh_one_api/data/train.csv"
test_path="/home/u131168/mh_one_api/data/test.csv"
f_traind_path="/home/u131168/mh_one_api/data/f_traind.csv"
f_traind_v1_path="/home/u131168/mh_one_api/data/f_traind_v1.csv"

f_testd_path="/home/u131168/mh_one_api/data/f_testd.csv"

train_data=pd.read_csv(train_path)
test_data=pd.read_csv(test_path)


train_data
train_data.fillna(0,inplace=True)


train_data.rename(columns = {'Story':'input','Question':'instruction','Answer':'output'}, inplace = True)
# train_data['input']=train_data.apply(lambda x: strip_input(x[0],x[4]),axis=1)
# train_data=train_data[['input','instruction','output']]
# train_data.isna().sum()
train_data=train_data[['input','instruction','output']]
train_data['input']=train_data['input'].apply(lambda x: x.replace("\n","\\"))
train_data['input']=train_data['input'].apply(lambda x: x.replace("\t","\\"))

train_data['input']=train_data['input'].apply(lambda x: f'paragraph:  '+str(x))
train_data['instruction']=train_data['instruction'].apply(lambda x: f'Answer the following question from the paragraph : Question: {x}')
train_data['output']=train_data['output'].apply(lambda x:str(x).strip())
train_data[train_data['output']=='unknown']
train_data[train_data['output']=='']
train_data=train_data[train_data['output']!='unknown']
# train_data.iloc[:100].to_csv(f_traind_path,index=False)

# train_data.isna().sum()
# train_data[:25]
# train_data.iloc[22,0]

In [3]:
# train_data.to_csv("/home/u131168/mh_one_api/data/train_split/full_traind1.csv",index=False)

In [4]:
# f_traind_v1_path="/home/u131168/mh_one_api/data/f_traind_v1.csv"
f_traind=train_data
f_traind_v1=f_traind
for i in range(5):
    f_traind_v1=pd.concat([f_traind_v1,f_traind]).reset_index(drop=True)

# f_traind_v1.to_csv(f_traind_v1_path)
f_traind_v1

,input,instruction,output
0,paragraph: CHAPTER IV. \\Notwithstanding the ...,Answer the following question from the paragra...,mirth and sadness
1,"paragraph: (CNN) -- Polk County, Florida, det...",Answer the following question from the paragra...,robbery
2,"paragraph: Malawi (, or ; or [maláwi]), offic...",Answer the following question from the paragra...,No
3,paragraph: CHAPTER XXXII. \\MR. GILMORE'S SUC...,Answer the following question from the paragra...,Everything
4,paragraph: CHAPTER XV--THE END OF THE MEETING...,Answer the following question from the paragra...,with feminine intuition
...,...,...,...
395077,paragraph: CHAPTER I--PROGRESS OF THE HOUSE \...,Answer the following question from the paragra...,Apri
395078,paragraph: Hong Kong (CNN) -- A car theft in ...,Answer the following question from the paragra...,grey
395079,paragraph: CHAPTER III \\The morning of depar...,Answer the following question from the paragra...,Eleanor.
395080,paragraph: New York (CNN) -- Two New York men...,Answer the following question from the paragra...,stole Price's wallet and other personal proper...
395081,"paragraph: Akrotiri and Dhekelia, officially ...",Answer the following question from the paragra...,strategic location of the island

In [5]:
test_data
# test_data.iloc[0,0]

,Story,Question
0,"CHAPTER I \n\nON THE HOUSEBOAT \n\n""Say, Tom, ...",What was Sam's mood?
1,The Uralic languages (; sometimes called Urali...,By how many?
2,The University of Wisconsin–Madison (also know...,How many schools and colleges does it have?
3,(CNN) -- The unexpected resignation of David P...,What happened?
4,"CHAPTER THIRTY-TWO \n\nTENDER TROUBLES \n\n""Jo...",Why does Mrs. March not force her children's c...
...,...,...
28543,"CHAPTER III. \n\n""Nice customs curt'sy to grea...",Who was the Archbishop of Toledo that was of t...
28544,CHAPTER XI. \n\nIn the little dining-room of t...,Who lived there?
28545,"Chapter XXX. \n\n""I shall go on through all et...",is he fair?
28546,Chapter XXXIV \n\nViolence \n\n\n\nIt had been...,Where was he to stay until this trip?
28547,"Be home by dinnertime, Eric's mother said as h...",what reptile did his friend bring?

In [6]:

test_data
test_data.fillna(0,inplace=True)


test_data.rename(columns = {'Story':'input','Question':'instruction'}, inplace = True)
# train_data['input']=train_data.apply(lambda x: strip_input(x[0],x[4]),axis=1)
# train_data=train_data[['input','instruction','output']]
# train_data.isna().sum()
# test_data=test_data[['input','instruction','output']]
test_data['input']=test_data['input'].apply(lambda x: x.replace("\n","\\"))
test_data['input']=test_data['input'].apply(lambda x: x.replace("\t","\\"))

test_data['input']=test_data['input'].apply(lambda x: f'paragraph:  '+str(x))
test_data['instruction']=test_data['instruction'].apply(lambda x: f'Answer the following question from the paragraph : Question: {x}')
# test_data['output']=test_data['output'].apply(lambda x:str(x).strip())

# test_data.to_csv(f_testd_path,index=False)

In [7]:
f_testd=pd.read_csv(f_testd_path)
f_testd

,input,instruction
0,paragraph: paragraph: CHAPTER I \\ON THE HOU...,Answer the following question from the paragra...
1,paragraph: paragraph: The Uralic languages (...,Answer the following question from the paragra...
2,paragraph: paragraph: The University of Wisc...,Answer the following question from the paragra...
3,paragraph: paragraph: (CNN) -- The unexpecte...,Answer the following question from the paragra...
4,paragraph: paragraph: CHAPTER THIRTY-TWO \\T...,Answer the following question from the paragra...
...,...,...
28543,"paragraph: paragraph: CHAPTER III. \\""Nice c...",Answer the following question from the paragra...
28544,paragraph: paragraph: CHAPTER XI. \\In the l...,Answer the following question from the paragra...
28545,"paragraph: paragraph: Chapter XXX. \\""I shal...",Answer the following question from the paragra...
28546,paragraph: paragraph: Chapter XXXIV \\Violen...,Answer the following question from the paragra...
28547,"paragraph: paragraph: Be home by dinnertime,...",Answer the following question from the paragra...