In [129]:

import numpy as np
import pandas as pd

In [130]:
# with open("/home/u131168/mh_one_api/data/sub_flant5_pred.csv",'r') as f:
#     file_content = f.read().split('\n')
#     print(file_content[31].replace(',','$$',1))
#     for i in range(len(file_content)):
#         file_content[i]=file_content[i].replace(',','$$',1)

#     print(file_content)
#     f.seek(0)
#     # Set file’s current position to the beginning

#     f.writelines(file_content)
#     # my_file.seek(0)

In [131]:
# print(file_content)

In [140]:
pred_path="/home/u131168/mh_one_api/data/flant5_pred/full_pred.csv"
# pred_path="/home/u131168/mh_one_api/data/flant5_pred/0_10k.csv"

formatted_sub_path="/home/u131168/mh_one_api/data/sub_ft5.csv"

pred_data=pd.read_csv(pred_path,sep="\$\$", header=None)
# pred_data=pred_data.iloc[6000:7000]
pred_data

/tmp/ipykernel_209942/3964429805.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pred_data=pd.read_csv(pred_path,sep="\$\$", header=None)

           0                                                  1
0          0                                            Anxious
1          1                                        125 million
2          2                                                 20
3          3   David Petraeus remained stoically aloof as a ...
4          4                                  She wants to wait
...      ...                                                ...
28543  28543            prelate, a warlike and active partisan,
28544  28544                                         the master
28545  28545   "Be happy while you can," he said, "with bitt...
28546  28546                                     at Mr. Seely's
28547  28547                                             lizard

[28548 rows x 2 columns]

In [141]:
temListPre=[0 for i in range(0,pred_data.iloc[0,0]-1)]
res=pred_data[1].tolist()
temListPost=[0 for i in range(28548-(len(res)+len(temListPre)))]
submission_data=pd.Series(temListPre+res+temListPost,name="Answer")
submission_data=pd.DataFrame(submission_data)
submission_data

                                                  Answer
0                                                Anxious
1                                            125 million
2                                                     20
3       David Petraeus remained stoically aloof as a ...
4                                      She wants to wait
...                                                  ...
28543            prelate, a warlike and active partisan,
28544                                         the master
28545   "Be happy while you can," he said, "with bitt...
28546                                     at Mr. Seely's
28547                                             lizard

[28548 rows x 1 columns]

In [134]:
# submission_data.dtypes
# submission_data['Answer']=submission_data['Answer'].astype("category")
# submission_data.dtypes
# submission_data.iloc[30:33]

In [142]:
# # removing possible float values
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '.' in str(x)  else x)
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if any(chr.isdigit() for chr in str(x))  else x)
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '–' in str(x)  else x)
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '‘' in str(x)  else x)
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '«' in str(x)  else x)

# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '-' in str(x)  else x)


submission_data['Answer']=submission_data['Answer'].astype("category")
submission_data.dtypes

Answer    category
dtype: object

In [143]:
import csv
# submission_data.to_csv(formatted_sub_path,index=False,quoting=csv.QUOTE_ALL)

submission_data.to_csv(formatted_sub_path,index=False)
# submission_data.iloc[520:524]
submission_data

                                                  Answer
0                                                Anxious
1                                            125 million
2                                                     20
3       David Petraeus remained stoically aloof as a ...
4                                      She wants to wait
...                                                  ...
28543            prelate, a warlike and active partisan,
28544                                         the master
28545   "Be happy while you can," he said, "with bitt...
28546                                     at Mr. Seely's
28547                                             lizard

[28548 rows x 1 columns]