In [2]:

import numpy as np
import pandas as pd

In [3]:
# with open("/home/u131168/mh_one_api/data/sub_flant5_pred.csv",'r') as f:
#     file_content = f.read().split('\n')
#     print(file_content[31].replace(',','$$',1))
#     for i in range(len(file_content)):
#         file_content[i]=file_content[i].replace(',','$$',1)

#     print(file_content)
#     f.seek(0)
#     # Set file’s current position to the beginning

#     f.writelines(file_content)
#     # my_file.seek(0)

In [4]:
# print(file_content)

In [8]:
pred_path="/home/u131168/mh_one_api/data/sub_flant5_pred.csv"
formatted_sub_path="/home/u131168/mh_one_api/data/sub_ft5.csv"

pred_data=pd.read_csv(pred_path,sep="\$\$", header=None)
pred_data

/tmp/ipykernel_893553/2415948627.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pred_data=pd.read_csv(pred_path,sep="\$\$", header=None)

         0                                                  1
0        0                                            Anxious
1        1                                        125 million
2        2                                                 20
3        3   David Petraeus remained stoically aloof as a ...
4        4                                  She wants to wait
...    ...                                                ...
2455  2455                                         HBO Comedy
2456  2456                                            hopeful
2457  2457                                         Mount Pico
2458  2458                                               Fred
2459  2459                                    The Black Pearl

[2460 rows x 2 columns]

In [9]:
res=pred_data[1].tolist()

In [10]:
temList=[0 for i in range(28548-len(res))]
submission_data=pd.Series(res+temList,name="Answer")
submission_data=pd.DataFrame(submission_data)
submission_data.to_csv("/home/u131168/mh_one_api/data/submissionflant5base.csv",index=False)
submission_data

                                                  Answer
0                                                Anxious
1                                            125 million
2                                                     20
3       David Petraeus remained stoically aloof as a ...
4                                      She wants to wait
...                                                  ...
28543                                                  0
28544                                                  0
28545                                                  0
28546                                                  0
28547                                                  0

[28548 rows x 1 columns]