In [26]:

import numpy as np
import pandas as pd

In [27]:
# with open("/home/u131168/mh_one_api/data/sub_flant5_pred.csv",'r') as f:
#     file_content = f.read().split('\n')
#     print(file_content[31].replace(',','$$',1))
#     for i in range(len(file_content)):
#         file_content[i]=file_content[i].replace(',','$$',1)

#     print(file_content)
#     f.seek(0)
#     # Set file’s current position to the beginning

#     f.writelines(file_content)
#     # my_file.seek(0)

In [28]:
# print(file_content)

In [29]:
pred_path="/home/u131168/mh_one_api/data/flant5_pred/full_pred.csv"
# pred_path="/home/u131168/mh_one_api/data/flant5_pred/0_10k.csv"

formatted_sub_path="/home/u131168/mh_one_api/data/sub_ft5.csv"

pred_data=pd.read_csv(pred_path,sep="\$\$", header=None)
pred_data.columns=['index','answer']
# pred_data=pred_data.iloc[6000:7000]
pred_data.fillna("unknown", inplace = True)
pred_data.isna().sum()
pred_data[pred_data.isna().any(axis=1)]

/tmp/ipykernel_1182946/894777664.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pred_data=pd.read_csv(pred_path,sep="\$\$", header=None)

Empty DataFrame
Columns: [index, answer]
Index: []

In [34]:
temListPre=[0 for i in range(0,pred_data.iloc[0,0]-1)]
res=pred_data['answer'].tolist()
temListPost=[0 for i in range(28548-(len(res)+len(temListPre)))]
submission_data=pd.Series(temListPre+res+temListPost,name="Answer")
submission_data=pd.DataFrame(submission_data)
submission_data['Answer']=submission_data['Answer'].apply(lambda x: str(x).strip())
submission_data

                                                  Answer
0                                                Anxious
1                                            125 million
2                                                     20
3      David Petraeus remained stoically aloof as a s...
4                                      She wants to wait
...                                                  ...
28543            prelate, a warlike and active partisan,
28544                                         the master
28545  "Be happy while you can," he said, "with bitte...
28546                                     at Mr. Seely's
28547                                             lizard

[28548 rows x 1 columns]

In [31]:
# submission_data.dtypes
# submission_data['Answer']=submission_data['Answer'].astype("category")
# submission_data.dtypes
# submission_data.iloc[30:33]

In [35]:
# # removing possible float values
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '.' in str(x)  else x)
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if any(chr.isdigit() for chr in str(x))  else x)
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '–' in str(x)  else x)
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '‘' in str(x)  else x)
# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '«' in str(x)  else x)

# submission_data['Answer']=submission_data['Answer'].apply(lambda x : 0 if '-' in str(x)  else x)


submission_data['Answer']=submission_data['Answer'].astype("category")
submission_data.dtypes

Answer    category
dtype: object

In [36]:
import csv
# submission_data.to_csv(formatted_sub_path,index=False,quoting=csv.QUOTE_ALL)

submission_data.to_csv(formatted_sub_path,index=False)
# submission_data.iloc[520:524]
submission_data

                                                  Answer
0                                                Anxious
1                                            125 million
2                                                     20
3      David Petraeus remained stoically aloof as a s...
4                                      She wants to wait
...                                                  ...
28543            prelate, a warlike and active partisan,
28544                                         the master
28545  "Be happy while you can," he said, "with bitte...
28546                                     at Mr. Seely's
28547                                             lizard

[28548 rows x 1 columns]